:root {
    --primary: #007074;
}

/* Memastikan tinggi layar benar-benar pas di HP */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: 'Inter', sans-serif;
    /* Menggunakan 100dvh (Dynamic Viewport Height) jika didukung browser modern */
    height: 100vh;
    height: 100dvh;
}

.blob {
    position: absolute;
    z-index: 1;
    filter: blur(60px);
    opacity: 0.5;
    border-radius: 50%;
}

.glass-card {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    padding: 2.5rem 1.5rem;
    width: 85%;
    /* Menggunakan persentase agar pas di HP kecil */
    max-width: 380px;
}

.datafora-logo {
    font-family: 'Fredoka', sans-serif;
    font-size: 2.8rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .datafora-logo {
        font-size: 4rem;
    }

    .glass-card {
        padding: 4rem 3rem;
        width: 100%;
    }
}

.loader-ring {
    width: 35px;
    height: 35px;
    border: 3px solid #f1f5f9;
    border-top: 3px solid var(--primary);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* ANIMASI MARQUEE */
@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

.animate-marquee-fast {
    animation: marquee 15s linear infinite;
}

.animate-marquee-slow {
    animation: marquee 25s linear infinite;
}

.marquee-item {
    padding-right: 2.5rem;
    font-size: 0.75rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .marquee-item {
        font-size: 0.9rem;
        padding-right: 5rem;
    }
}